# Hackerearth Machine Learning challenge : Pet Adoption

In [1]:
#importing libraries :
import pandas as pd
import numpy as np

In [2]:
# read CSV file :
df=pd.read_csv('train.csv')
df1=pd.read_csv('test.csv')

In [3]:
df.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1
1,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4
3,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2
4,ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1

In [4]:
df1.head(10)

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2
0,ANSL_75005,2005-08-17 00:00:00,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7
1,ANSL_76663,2018-11-15 00:00:00,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1
2,ANSL_58259,2012-10-11 00:00:00,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7
3,ANSL_67171,2015-02-13 00:00:00,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1
4,ANSL_72871,2017-01-18 00:00:00,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7
5,ANSL_64886,2016-07-04 00:00:00,2017-07-28 19:22:00,0.0,Brown Tabby,0.90,33.97,16,9
6,ANSL_73798,2014-09-02 00:00:00,2016-11-22 10:56:00,0.0,White,0.87,49.90,13,9
7,ANSL_53131,2016-08-01 00:00:00,2018-02-14 16:46:00,0.0,Fawn,0.06,8.68,0,1
8,ANSL_66674,2018-06-28 00:00:00,2018-09-05 09:56:00,2.0,Black,0.82,30.35,13,9
9,ANSL_55165,2016-08-25 00:00:00,2018-09-17 12:53:00,2.0,White,0.76,10.10,13,9

In [5]:
# cheaking NAN values if any :
df.isnull().sum()

pet_id               0
issue_date           0
listing_date         0
condition         1477
color_type           0
length(m)            0
height(cm)           0
X1                   0
X2                   0
breed_category       0
pet_category         0
dtype: int64

In [6]:
df1.isnull().sum()

pet_id            0
issue_date        0
listing_date      0
condition       619
color_type        0
length(m)         0
height(cm)        0
X1                0
X2                0
dtype: int64

In [7]:
df['condition'].unique()

array([ 2.,  1., nan,  0.])

In [8]:
df1['condition'].unique()

array([ 0.,  1.,  2., nan])

In [9]:
# fill NAN values with 3 :
df['condition'].fillna(value=3,inplace=True)
df1['condition'].fillna(value=3,inplace=True)

In [10]:
# onehot encoding :
a=pd.get_dummies(df['color_type'])
s=pd.get_dummies(df1['color_type'])

In [11]:
train=pd.concat([df,a],axis=1)
test=pd.concat([df1,s],axis=1)

In [12]:
x_train = train[[ 'condition', 'X1', 'X2', 'Agouti', 'Apricot', 'Black', 'Black Brindle',
       'Black Smoke', 'Black Tabby', 'Blue', 'Blue Cream', 'Blue Merle',
       'Blue Point', 'Blue Smoke', 'Blue Tabby', 'Blue Tick', 'Blue Tiger',
       'Brown', 'Brown Brindle', 'Brown Merle', 'Brown Tabby', 'Buff',
       'Calico', 'Calico Point', 'Chocolate', 'Chocolate Point', 'Cream',
       'Cream Tabby', 'Fawn', 'Flame Point', 'Gold', 'Gray', 'Gray Tabby',
       'Green', 'Lilac Point', 'Liver', 'Liver Tick', 'Lynx Point', 'Orange',
       'Orange Tabby', 'Pink', 'Red', 'Red Merle', 'Red Tick', 'Sable',
       'Seal Point', 'Silver', 'Silver Lynx Point', 'Silver Tabby', 'Tan',
       'Torbie', 'Tortie', 'Tortie Point', 'Tricolor', 'White', 'Yellow',
       'Yellow Brindle']]

x_test = test[[ 'condition', 'X1', 'X2', 'Agouti', 'Apricot', 'Black', 'Black Brindle',
       'Black Smoke', 'Black Tabby', 'Blue', 'Blue Cream', 'Blue Merle',
       'Blue Point', 'Blue Smoke', 'Blue Tabby', 'Blue Tick', 'Blue Tiger',
       'Brown', 'Brown Brindle', 'Brown Merle', 'Brown Tabby', 'Buff',
       'Calico', 'Calico Point', 'Chocolate', 'Chocolate Point', 'Cream',
       'Cream Tabby', 'Fawn', 'Flame Point', 'Gold', 'Gray', 'Gray Tabby',
       'Green', 'Lilac Point', 'Liver', 'Liver Tick', 'Lynx Point', 'Orange',
       'Orange Tabby', 'Pink', 'Red', 'Red Merle', 'Red Tick', 'Sable',
       'Seal Point', 'Silver', 'Silver Lynx Point', 'Silver Tabby', 'Tan',
       'Torbie', 'Tortie', 'Tortie Point', 'Tricolor', 'White', 'Yellow',
       'Yellow Brindle']]

In [13]:
y_train = train[['breed_category','pet_category']]

In [14]:
# Importing Desicion Tree Classifier :
from sklearn.tree import DecisionTreeClassifier

In [15]:
classifier = DecisionTreeClassifier()

In [16]:
classifier.fit(x_train,y_train)

DecisionTreeClassifier()

In [17]:
prediction = classifier.predict(x_test)

In [18]:
prediction=pd.DataFrame(prediction, columns=['breed_category','pet_category'])

In [19]:
prediction

      breed_category  pet_category
0                1.0           2.0
1                0.0           1.0
2                0.0           2.0
3                0.0           1.0
4                0.0           2.0
...              ...           ...
8067             1.0           2.0
8068             1.0           2.0
8069             1.0           2.0
8070             2.0           1.0
8071             1.0           2.0

[8072 rows x 2 columns]

In [20]:
df1.columns

Index(['pet_id', 'issue_date', 'listing_date', 'condition', 'color_type',
       'length(m)', 'height(cm)', 'X1', 'X2'],
      dtype='object')

In [21]:
df1=df1.drop(['X1','X2'],axis=1)
df1=df1.drop(['issue_date','listing_date'],axis=1)
df1=df1.drop(['condition','color_type'],axis=1)
df1=df1.drop(['length(m)','height(cm)'],axis=1)

In [22]:
df1=pd.concat([df1,prediction],axis=1)

In [23]:
# Final output :
df1

          pet_id  breed_category  pet_category
0     ANSL_75005             1.0           2.0
1     ANSL_76663             0.0           1.0
2     ANSL_58259             0.0           2.0
3     ANSL_67171             0.0           1.0
4     ANSL_72871             0.0           2.0
...          ...             ...           ...
8067  ANSL_66809             1.0           2.0
8068  ANSL_59041             1.0           2.0
8069  ANSL_60034             1.0           2.0
8070  ANSL_58066             2.0           1.0
8071  ANSL_69436             1.0           2.0

[8072 rows x 3 columns]

In [24]:
# save to CSV file :
df1.to_csv('final_output.csv',index=False)